.p-contents {
  .p-content {
    display: flex;
    margin-bottom: 122px;

    &:nth-child(1) {
      padding-top: 106px;
    }
    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &__img {
      width: 55%;

      img {
        width: 100%;
      }
    }

    &__item {
      padding-left: 137px;

      &:nth-child(2) {
        padding-right: 174px;
      }
    }
    &__title {
      font-size: 36px;
      margin-bottom: 75px;
      line-height: 1.7;
    }

    &__text {
      margin-bottom: 75px;
      line-height: 2;
    }

    &__btn {
      width: 200px;
      height: 56px;
      background-color: #ffffff;
      border: 1px solid #707070;
    }
  }
}
