@charset "UTF-8";
/* ==========================================================================
    Reset
   ========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.l-header {
  width: 100%;
}

.l-header__inner {
  padding: 13px 20px;
}

.l-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__logo__img {
  width: 200px;
  height: 40px;
}

.l-header__logo__img img {
  width: 100%;
}

.l-header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header__nav__item {
  margin-right: 30px;
}

.l-header__button {
  width: 174px;
  height: 54px;
  position: absolute;
  right: 20px;
}

.l-header__button img {
  width: 22px;
  height: 22px;
}

.l-main__kv {
  background-image: url(../image/mainbg01.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1079px;
}

.p-intro__bg {
  background-image: url(../image/bg.jpg);
  background-position: center;
  width: 100%;
  height: 681px;
}

.p-intro__inner {
  width: 1180px;
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding-top: 149px;
}

.p-intro__title {
  margin-right: 101px;
  margin-left: 118px;
  font-size: 28px;
  letter-spacing: 3.5px;
}

.p-intro p {
  margin-left: 118px;
}

.p-contents .p-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 122px;
}

.p-contents .p-content:nth-child(1) {
  padding-top: 106px;
}

.p-contents .p-content:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-contents .p-content__img {
  width: 55%;
}

.p-contents .p-content__img img {
  width: 100%;
}

.p-contents .p-content__item {
  padding-left: 137px;
}

.p-contents .p-content__item:nth-child(2) {
  padding-right: 174px;
}

.p-contents .p-content__title {
  font-size: 36px;
  margin-bottom: 75px;
  line-height: 1.7;
}

.p-contents .p-content__text {
  margin-bottom: 75px;
  line-height: 2;
}

.p-contents .p-content__btn {
  width: 200px;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid #707070;
}

.p-plan {
  text-align: center;
  height: 775px;
  background-image: url(../image/bg02.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 60px;
}

.p-plan__logo {
  width: 40px;
  margin-bottom: 20px;
}

.p-plan__title {
  font-size: 36px;
  margin-bottom: 66px;
}

.p-plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1180px;
  margin: 0 auto;
  list-style: none;
}

.p-plan__item {
  width: 331px;
  text-align: left;
}

.p-plan__item__img {
  width: 331px;
  margin-bottom: 32px;
}

.p-plan__item__img img {
  width: 100%;
  height: 209px;
}

.p-plan__item__title {
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 1.6;
}

.p-plan__item__subTitle {
  font-size: 16px;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */